<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario</title>
    </head>
    <body>
        <h1>Formulario Alta/Modificacion de Empleado</h1>

        <fieldset>
            <legend>Formulario</legend>
            <form>
                <div>
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" id="nombre">
                </div>

                <div>
                    <label for="primerApellido">Primer Apellido: </label>
                    <input type="text" name="primerApellido" id="primerApellido">
                </div>

                <div>
                    <label for="segundoApellido">Segundo Apellido: </label>
                    <input type="text" name="segundoApellido" id="segundoApellido">
                </div>

                <div>
                    <label for="fechaAlta">Fecha de Alta: </label>
                    <input type="date" name="fechaAlta" id="fechaAlta">
                </div>

                <div>
                    <label for="salario">Salario: </label>
                    <input type="text" name="salario" id="salario">
                </div>

                
            </form>
        </fieldset>

    </body>
</html>