<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario</title>
    </head>
    <body>
        <h1>Formulario Alta/Modificacion de Empleado</h1>

        <fieldset>
            <legend>Formulario</legend>
            <form>
                <div>
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" id="nombre">
                </div>

                <div>
                    <label for="primerApellido">Primer Apellido: </label>
                    <input type="text" name="primerApellido" id="primerApellido">
                </div>

                <div>
                    <label for="segundoApellido">Segundo Apellido: </label>
                    <input type="text" name="segundoApellido" id="segundoApellido">
                </div>

                <div>
                    <label for="fechaAlta">Fecha de Alta: </label>
                    <input type="date" name="fechaAlta" id="fechaAlta">
                </div>

                <div>
                    <label for="salario">Salario: </label>
                    <input type="text" name="salario" id="salario">
                </div>
                
                <!-- genero radio -->
                <fieldset>
                    <legend>Género: </legend>
                        <label for="hombre">Hombre </label>
                        <input type="radio" name="genero" id="hombre" value="HOMBRE">
                        <label for="mujer">Mujer </label>
                        <input type="radio" name="genero" id="mujer" value="MUJER">
                        <label for="otro">Otro </label>
                        <input type="radio" name="genero" id="otro" value="OTRO">
                </fieldset>

                <!-- departamentos desplegable -->
                <div>
                    <label for="departamento">Departamentos: </label>
                    <select name="departamento" id="departamento">
                        <option value=""></option>
                    </select>
                </div>

                <!-- telefonos -->
                <div>
                    <label for="telefonos">Teléfonos: </label>
                    <input type="text" name="telefonos" id="telefonos"
                        placeholder="Separados por ;">
                </div>

                <!-- correos -->
                <div>
                    <label for="correos">Correos: </label>
                    <input type="text" name="correos" id="correos"
                        placeholder="Separados por ;">
                </div>
                
            </form>
        </fieldset>

    </body>
</html>